/target
/.llvm
/.llvm-emulated
/docs/build
/docs/taiga
/docs/__pycache__/
*.pyc

# Generated output files
*.ppm
*.o
docs/book/

bitcodes/bc
bitcodes/ll
bitcodes/c/lib/icu-prebuilt
playground/worker/node_modules/
playground/worker/.wrangler/
playground/worker/.dev.vars

bitcodes/c/lib/icu/
lib/